<!DOCTYPE html>
<html>
    <head>
        <% include partials/page/head.ejs %>
    </head>
    <body>
        <% include partials/page/header.ejs %>
        <h1>Welcome!</h1>


        <% include partials/page/footer.ejs %>
        <% include partials/page/scripts.ejs %>
    </body>


</html>